<!DOCTYPE html>
<html xmlns:th="http://www.thymealeaf.org">
<head>
<meta charset="UTF-8">
<style>
	h1 {text-align: center;}
	p {text-align: center;}
	div {text-align: center;}
</style>
<title>Spring Demo Hello World Page</title>
</head>
<body>
	<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	<form th:action="@{/Logout}" method="post">
		<input type="submit" value="Logout"/>
	</form>
	<h1>Hello World!</h1>
	<p th:text="${message}"/>
	<br/>
	<div><a href="rest">Call REST</a></div>
</body>
</html>